#boardSize, #numMines {
    width: 150px;
}

#grid {
    border-collapse: collapse;
}

#grid td {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-position: center;
}

#gameBoard img {
    width: 30px;
    height: 30px;
}

