#gameResult {
    font-size: 18px;
    font-weight: bold;
}

#boardSize, #numMines {
    width: 150px;
}

#grid {
    border-collapse: collapse;
}

#grid td {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-position: center;
}

#gameBoard img {
    width: 30px;
    height: 30px;
}

.top-bar {
    display: flex;
    align-items: center; /* aligns items vertically in the middle */
}

.top-bar form {
    display: flex;
    align-items: center;
}

.top-bar #result {
    margin-left: 20px; /* adds some space to the left of the result */
}



