<!DOCTYPE html>
<html>
<head>
    <title>Minesweeper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="top-bar">
        <form onsubmit="startGame(); return false;">
            <input type="number" id="boardSize" min="4" max="25" value = "16" required placeholder="Enter board size" onchange="setMaxMines()">
            <input type="number" id="numMines" min="1" max="625" value = "40" required placeholder="Enter number of mines">
            <input type="submit" value="Start Game">
        </form>
        <span id="flagsUsed">Flags used: 0</span>
        <span id="gameResult"></span>
    </div>
    <table id="gameBoard">
    </table>
</body>
</html>
