<!DOCTYPE html>
<html>
<head>
    <title>Minesweeper</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <table id="gameBoard">
    {% for row in board %}
        <tr>
        {% for cell in row %}
            <td onclick="makeMove({{ loop.index0 }}, {{ loop.parent.loop.index0 }})">
                <img src="{{ url_for('static', filename='images/unrevealed.png') }}">
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>
